.img1 {
  z-index: 1;
  max-width:80%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;


}

.img2 {
  z-index: 1;
  max-width:80%;
  height:auto;
  position: center;
  top: 0px;
  left:20%;
  display: block;
  margin: auto;

}

.img3 {
  z-index: 1;
  max-width:100%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img4 {
  z-index: 1;
  max-width:100%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img5 {
  z-index: 1;
  max-width:30%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img6 {
  z-index: 1;
  max-width:50%;
  height:auto;
  position: center;
  top: 0px;
  left:70px;
  display: block;
  margin: auto;

}

.img7 {
  z-index: 1;
  max-width:40%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img8 {
  z-index: 1;
  max-width:60%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img9 {
  z-index: 1;
  max-width:30%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img10 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img11 {
  z-index: 1;
  max-width:30%;
  height:auto;
  position: center;
  top: 300px;
  display: block;
  margin: auto;

}

.img12 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img13 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img14 {
  z-index: 1;
  max-width:50%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img15 {
  z-index: 1;
  max-width:50%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img16 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img17 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.img18 {
  z-index: 1;
  max-width:70%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;

}

.head {
  z-index: 0;
  max-width:100%;
  height:auto;
  position: center;
  top: 0px;
  display: block;
  margin: auto;
}
