body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure
  { margin: 0;
  padding: 0;
  box-sizing: border-box;
  }


table
  {	border-collapse: collapse;
    border-spacing: 0;
  }

fieldset,img
  { border:0;
  }

address,caption,cite,code,dfn,em,strong,th,var
  { font-style: normal;
    font-weight: normal;
  }
ol,ul
  { list-style:none;
  }

caption,th
  {text-align:left;
  }

h1,h2,h3,h4,h5,h6
  {	font-size: 100%;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
  }

q:before,q:after
  {content: '';
  }

abbr,acronym
  { border: 0;
  }

img
  { max-width: 100%;
    border: 0 none;
    display: block;
    height: auto;
  }

.clear
  { clear: both;
    font-size: 1px;
    line-height: 1px;
    display: block;
    height: 0;
  }

.clrflt
  { clear: both;
  }

.last
  { margin: 0 !important;
  }
.pad_last
  {padding: 0 !important;
  }

.no_bg
  { background: none !important;
  }

.no_bor
  { border: none !important;
  }

input
  { -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0;
  }

textarea
  { -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius:0;
  }

h1		{font-size: 40px;
        color: #ffffff;
      }

h2		{font-size: 36px;
        color: #ff1295;
        font-weight: 400;
      }

h3		{font-size: 27.5px;
        font-weight: 400;
        font-family:HELVETICA,VERDANA, Geneva, sans-serif;
      }

h4		{font-size: 15.28px;
        font-weight: 400;
      }

h5		{font-size: 13px;
        font-weight: 400;
      }

h6		{font-size: 10.69px;
        font-weight: 400;
        font-family:HELVETICA,VERDANA, Geneva, sans-serif;
      }

p			{font-size: 12.2px;
      }



body  {font-family:HELVETICA,VERDANA, Geneva, sans-serif;}


.wrapper          {display:block;
                  min-width:1000px;
                  }

.container        {width:1000px;
                  margin:0 auto;
                  }

.header           {display:block;
                  background:#fff;
                  }

.header_in        {float:right;
                  padding: 11px 0 0 0;
                  }

.fatty            {float:right;
                  padding: 17px 38px 16px 22px;
                  }

.fatty span       {display:block;
                  padding: 0 0 5px 0;
                  }

.fatty span img   {display:block;
                  }

.fatty p          {display:block;
                  color:#3a3a3a;
                  letter-spacing: 0.2px;
                  text-transform:uppercase;
                  }

.person           {float:right;
                  }

.logo             {float:right;
                  padding: 13px 56px 10px 10px;
                  }

.header_txt       {float:right;
                  padding: 16px 9px 13px 0;
                  }

.header_txt p     {color:#434343;
                  line-height: 13px;
                  text-transform:uppercase;
                  }

.nav              {text-align:center;
                  background:#ff1295;
                  display:block;
                  }

.nav ul           {display:block;
                  padding: 7px 0 10px;
                  }

.nav ul li        {display:inline-block;
                  padding: 0 10px;
                  }

.nav ul li a      {text-decoration: none;
                  color: white;
                  text-transform:uppercase;
                  font-size: 12px;
                  display:block;
                  }

.nav ul li a:hover{background-color: #f1f1f1
                  }


.mostpopular      {display:block;
                  padding: 0 0 17px 0;
                  }

.most_popular_lt  {float:left;
                  width: 609px;
                  padding: 45px 0 0 0;
                  }

.popular_in       {position:relative;
                  display:block;
                  margin: 0 0 19px 0;
                  }

.popular_in img   {display:block;
                  width:100%;
                  }

.popular_in_txt   {position:absolute;
                  font-family: 'Gloria Hallelujah', cursive;
                  bottom:-30px;
                  left:0;
                  }

.popular_in_txt a {text-decoration: none;
                  text-transform:uppercase;
                  font-weight:400;
                  letter-spacing: 2px;
                  font-size:36px;
                  color:#ff1295;
                  }


.cartoon_txt      {position:absolute;
                  top: 21px;
                  right: 19px;
                  }

.cartoon_txt h4   {color:#fff;
                  text-transform:uppercase;
                  font-size: 27px;
                  line-height: 30px;
                  letter-spacing: 2px;
                  padding: 0 0 12px 0;
                  }

.cartoon_txt_in   {
                  text-decoration: none;
                  color:#fff !important;
                  line-height: 22px !important;
                  letter-spacing: 2px !important;
                  border:none !important;
                  font-size:27.8px !important;
                  text-transform:none !important;
                  padding:0 !important;
                  height:auto !important;
                  display:block !important;
                  }

.cartoon_txt_in:before  {
                        text-decoration: none;
                        border-top:1px solid #fff;
                        display:block;
                        margin: 0 0 3px 0;
                        }

.cartoon_txt a         {color:#fff;
                        text-transform:uppercase;
                        font-size:7.64px;
                        border:1px solid #fff;
                        height: 27px;
                        line-height: 27px;
                        display: inline-block;
                        padding: 0 15px;
                        letter-spacing: 1px;
                        }

.most_popular_lt p      {color:#606060;
                        font-weight: 400;
                        line-height: 13px;
                        font-size: 10px;
                        letter-spacing: 1.2px;
                        padding:0 0 20px 0;
                        line-height: 14px;
                        }

.most_popular_lt p a    {color:#ff1295;
                        text-transform:uppercase;
                        }

.most_popular_lt h3     {color:#606060;
                        letter-spacing:2.5px;
                        line-height: 27px;
                        padding: 0 0 3px 0;
                        }

.font_weight            {font-weight:bold !important;
                        letter-spacing:1px !important;
                        }

.paintings              {display:block;
                        padding: 10px 0;
                        }

.paintings ul           {display:inline-block;
                        margin: 0 -16px;
                        }

.paintings ul li        {float:left;
                        padding: 0 14px 28px;
                        }

.paintings ul li a      {display:inline-block;
                        }

.paintings ul li a img  {display:inline-block;
                        }

.most_popular_rt        {float:right;
                        width: 333px;
                        padding: 35px 0 0 0
                        }

.most_popular_rt h2     {color:#ff1295;
                        font-weight:400;
                        display:block;
                        margin:-31px auto;
                        text-align:center;
                        letter-spacing: 4px

                        }

.section                {border:2px solid #ff1295;
                        padding:43px 11px 27px;
                        margin-bottom: 28px;
                        }

.section p              {display:block;
                        font-size:15.28px;
                        font-weight:400;
                        color:#ff1295;
                        padding: 0 0 2px 0;
                        letter-spacing: 1.5px;
                        }

.section a              {color:#ff1295;
                        margin: 0 0 2px 0;
                        letter-spacing: 1.5px;
                        font-weight:400;
                        font-size:15.28px;
                        display:inline-block;
                        }

.section p:nth-child(2n+1):before {
                                  width:147px;
                                  border-top:1px solid #ff1295;
                                  display:block;
                                  padding: 0 0 12px 0;
                                  }

.section.popular-links p:nth-child(2n+2)        {padding: 0 0 12px 0;
                                  }

.margin_btm                       {margin:0 0 50px 0;
                                  }

.over_rated                       {display:block;
                                  padding: 7px 0px 35px;
                                  }

.over_rated span                  {float:left;
                                  }

.over_rated_txt                   {float:left;
                                  padding:0;
                                  margin:0 15px 0 0;
                                  }

.pad_ing                          {padding:0 19px 0 0 !important;
                                  margin:0 !important;
                                  }

.pad_ing_1                        {padding: 43px 11px 17px !important;
                                  }

.pad_ing_2                        {padding:0 0 24px 0 !important;
                                  }

.over_rated_txt h3                {color:#ff1295;
                                  letter-spacing: 2px;
                                  }

.over_rated_txt h3:before         {content:"";
                                  border-top:1px solid #ff1295;
                                  display:block;
                                  }

.over_rated_txt p                 {color:#ff1295;
                                  font-size: 17px;
                                  letter-spacing: 2px;
                                  line-height:20px;
                                  }

.seemore                          {display:block;
                                  width:100%;
                                  }

.seemore ul                       {display:flex;
                                  }

.seemore ul li                    {display:inline-block;
                                  position:relative;
                                  width:33.3%;
                                  float:left;
                                  }

.seemore ul li img                {display:block;
                                  }

.seemore_in                       {position:absolute;
                                  top:50%;
                                  transform:translateY(-50%);
                                  -moz-transform:translateY(-50%);
                                  -ms-transform:translateY(-50%);
                                  -o-transform:translateY(-50%);
                                  -webkit-transform:translateY(-50%);
                                  left:0;
                                  right:0;
                                  margin:0 auto;
                                  border:2px solid #fff;
                                  padding: 3px 10px 10px;
                                  width:277px;
                                  text-align:center;
                                  min-height:280px;
                                  display:block;
                                  }

.seemore_in_in                    {position: absolute;
                                  top: 50%;
                                  transform: translateY(-50%);
                                  left: 0;
                                  right: 0;
                                  }

.seemore_in_in h6                 {color:#fff;
                                  text-transform:uppercase;
                                  padding:0 0 27px 0;
                                  letter-spacing:2px;
                                  }

.seemore_in_in h6:after           {content:'';
                                  border-top:2px solid rgba(255,255,255,0.5);
                                  width:42px;
                                  display:block;
                                  margin:7px auto 0;
                                  }

.seemore_in_in h3                 {color:#fff;
                                  text-transform:uppercase;
                                  font-weight:400;
                                  etter-spacing: 2px;
                                  padding: 0 0 56px 0;
                                  }

.seemore_in_in a                  {color: #fff;
                                  text-transform: uppercase;
                                  border: 1px solid #fff;
                                  height: 35px;
                                  font-size: 12px;
                                  line-height: 35px;
                                  display: inline-block;
                                  padding: 0 41px;
                                  }

.empty                            {background:#ff1295;
                                  min-height:78px;
                                  display:block;
                                  }

.footer                           {display:block;
                                  background:#fff;
                                  }

.footer .container                {padding: 50px 0;
                                  }

.footer_nav                       {float:right;
                                  }

.footer_nav ul                    {display:block;
                                  padding: 0 41px;
                                  }

.footer_nav ul li                 {display:inline-block;
                                  float:right;
                                  padding: 0 30px;
                                  }

.footer_nav ul li a               {text-decoration: none;
                                  color: #ff1295;
                                  font-size:12px;
                                  display:inline-block;
                                  font-weight: 600;
                                  }

.footer_nav ul li a:hover         {text-decoration:underline;
                                  }

.social_media                     {float:right;
                                  }

.social_media ul                  {display:block;
                                  padding: 0 46px;
                                  }

.social_media ul li               {display:inline-block;
                                  float:right;
                                  padding: 0 16px;
                                  }

.social_media ul li a             {display:inline-block;
                                  }

.social_media ul li a img         {display:block;
                                  vertical-align: middle;
                                  -webkit-transform: perspective(1px) translateZ(0);
                                  transform: perspective(1px) translateZ(0);
                                  box-shadow: 0 0 1px transparent;
                                  -webkit-transition-duration: 0.3s;transition-duration: 0.3s;
                                  -webkit-transition-property: transform;
                                  transition-property: transform;
                                  }

.social_media ul li a img:hover   {-webkit-transform: scale(1.1);
                                  transform: scale(1.1);
                                  }


.dropbtn {
    background-color: #ff1295;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn button:hover{background-color: #f1f1f1}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff1295;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ff1295;
}
